*:focus-visible {
  outline: 0.125rem solid var(--color-dark);
}

html, body, #root {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  color: var(--color-dark);
  background: var(--color-light);
}

#root {
  display: flex;
  flex-flow: column nowrap;
}
